################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SmugMug.NET/obj/Debug
.vs/
SmugMug.NET/bin/
