<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="OAuth" version="1.0.3" targetFramework="net452" />
  <package id="SmugMug.NET.v2" version="2016.5.18.2" targetFramework="net452" />
</packages>